<?php
// tg-Bot settings
$BOT_TOKEN = '0000000000:AAAAAAAAAAAAAAAAAAA_AAAAAAA-AAAAAAA'; 
$INIT = false;

// mySQL settings
$DB_SERVER = 'localhost';
$DB_NAME = 'name_db';
$DB_USER = 'name_user';
$DB_PASSWORD = 'password';

?>